/*------------------------------------
共通のCSS設定
1_タイトル
-----------------------------------*/

.content-wrapper{
   text-align: center;
}

.title{
  margin-top: 0px;
  padding-bottom: 30px;
}

.underbar-color{
  width:300px;
  height: 10px;
  margin: 0 auto;
}
.under-profile{
  background-color: #0033FF;
}
.under-book{
  background-color: #003399;
}
.under-trip{
  background-color: #333399;
}
.under-music{
  background-color: #660099;
}
.under-live{
  background-color: #cc0000 ;
}
.under-contact{
  background-color:#eb3c55;
}

body{
  background:url(../../img/bg.gif) repeat;
}
  /*------------------------------------
A_ヘッダー:「common」をフォルダに移動
------------------------------------*/

/*------------------------------------
B_TOPページ
1_背景画像の設定
2_height(vh)
------------------------------------*/
#top{
  margin-top: 0;
  background-image:url(../../img/main/akita_winter.jpg);  /*【B-1】背景画像*/
  background-size: cover;                            /*【B-1】画面いっぱいに表示*/
  height: 100vh;                    /*【B-2】100vhは全てのデバイスの高さ分、表示*/
}
.top-wrapper{
  position:relative;
}
.top_txt{
  font-family: 'Dancing Script', cursive;
  font-size: 100px;
  position: absolute;
  top: 320px;
  left:50px;
}
.top_txt .the{
  display: inline-block;
  font-size: 100px;
  color: red;
  text-align: center;
  line-height: 150px;
  width: 150px;
  height: 150px;
  background-image: linear-gradient(to left top,
      transparent 49%,
      black 49%,
      black 51%,
      transparent 51%);
}


.top_txt .period{
  color:#ff0000;
}

/*------------------------------------
C_Profile
1_横並びにする（復習）
2_表を作る
------------------------------------*/
 #profile{
 background: linear-gradient(to bottom, rgba(245,245,245,0.5),rgba(220,220,220,0.5));/*whitesmoke,gainsboro*/
 padding-top: 30px;
}

.profile-card{
  width:600px;
  border: 1px solid #000000;
  border-collapse: collapse;
  border-radius: 15px;
  margin:0 auto;
  background-color: #fff;
}

.profile-info p{
  border-bottom: 1px solid #000000;
}

.profile-info2{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.profile-text{
  width:50%;
  text-align: left;
  padding-top: 5px;
  padding-left: 7px;
}
.profile-text table{
  display:block;
}
.profile-text table tr{
  display:inline-block;
  width:100%;
  border-bottom: 1px dashed #333;
}

.profile-text table a{
  color:#333;
  text-decoration: none;
}

.profile-text table tr:nth-child(1){
  display:block;
   background-color: red;
   color:#FFFFFF;
   text-align: center;
}

.play-list{
  margin-left: 10px;
}

.profile-img{
  width:50%;
  height: 50%;
}

.profile-img img{
  width:100%;
  margin:0 auto;
  padding:0;
}

.profile-button{
  display: block;
  width:150px;
  font-size: 30px;
  margin:15px auto;
  border: 1px solid #000000;
  border-radius: 15px;
  text-decoration: none;
  color:#000;
}

.profile-button:hover{
  display: block;
  width:150px;
  font-size: 30px;
  margin:15px auto;
  border: 1px solid #000000;
  border-radius: 15px;
  text-decoration: none;
  background-color: #808080;
  color:#fff;
}

.music-container{
  display: flex;
  justify-content: center;
  margin:0 auto;
  flex-wrap: nowrap;
}

/*------------------------------------
D_Recommend Books
1_画像をブロック要素にすることでサイズ設定可
2_縦中央配置（margin topとbottomのセット)
3_テキストの右/中央/左揃え（text-align)
4_ボタンを作る
------------------------------------*/
#book{
  padding-top:70px;
  padding-bottom:60px;
  background: linear-gradient(to bottom,rgba(220,220,220,0.5),rgba(211,211,211,0.5));
}

.book-container{
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.book-box{
  display:none;
}

.book-box.active{
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width:80%;
  margin:0 auto;
}

.book-image{
  display:block; /*【D―1】ブロック要素へ変更*/
  width:312px;     /*【D―1】サイズ設定*/
  height: 474px;
  border-radius: 10px;
  margin-top: 80px;
  margin-left:20px; /*要素の左端の間隔*/
}

.book-text{
  padding:20px 20px 40px 20px;
  text-align: center;
}

.book-title{
  font-size: 24px;
}

.book-about{
  margin-top: 16px;
  padding: 16px;
  border:1px solid #000000;
  border-radius: 3px;
  text-align: left;
}

.book-review{
  margin-top:20px;
}

.book-review a{
  font-family: 'KoHo', sans-serif;
  font-size: 36px;
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  background: #1E36C7;
  color: #ffffff;
  border-bottom: 4px solid midnightblue;
  border-right: 2px solid midnightblue;
  border-radius: 5px;
}

.book-review a:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
    border-right: none;
}


/*---【D-4】ボタンを作る手順------------------
1）.book-boxと同じ高さ見えない範囲領域を作る
2）その中心に線のもとにある正方形を作成
3）上部の線だけ色を付ける。
4) 中央配置
5）戻るボタンは-45°、進むボタンは45°傾け、
もう一辺をそれぞれの要素に設定する
--------------------------------------------*/

.button{
  position: absolute;
  top:0;      /*【D-4】.book-boxと同じ高さ見えない範囲領域*/
  bottom:0;   /*【D-4】.book-boxと同じ高さ見えない範囲領域*/
  display: block;
  content: '';
  width:40px;
  height:40px;
  border-top: 2px solid #000; /*【D-4】その中心に線のもとにある正方形を作成*/
  margin: auto;  /*【D-4】縦中央配置*/
  cursor:pointer;
  z-index: 1;
}

.prev{
  left: 10px;
  border-left: 2px solid #000;
  transform:rotate(-45deg); /*【D-4】戻るボタンは-45°*/
}

.next{
  right: 10px;
  border-right: 2px solid #000;
  transform:rotate(45deg);  /*【D-4】進むボタンは45°*/
}



/*------------------------------------
E_trip
------------------------------------*/
#trip{
   background: linear-gradient(to bottom,rgba(211,211,211,0.5),rgba(192,192,192,0.5));
}

/*ラインナップタブ*/
.trip-lineup{
  max-width: 1024px;
  margin:0px auto;
  margin-bottom: 16px;
}

.trip-lineup ul{
  display:flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.trip-lineup ul li{
  width: 20%;
  height: 32px;
  text-align: center;
  list-style: none;
  border: 1px solid #000000;
  background-color: #fff;
}

.trip-lineup ul li a{
  display: block;
  text-decoration: none;
  line-height: 30px;
  color: #333;
  width: 100%;
}

.trip-lineup ul li a:hover{
  color: #fff;
  background-color: #eb3c55;
  transition: 0.6s;
}

/*ラインナップボックス*/
.trip-wrapper{
 width: 100%;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
}

.modalOpen{
  display: block;
}

.trip-content{
  width:15vw;
  height:15vw;
}

.trip-image{
  width:100%;
}

.trip-title{
  margin-top:20px;
}

.trip-date{
  font-size: 20px;
  font-weight: bold;
}

/*モーダルのスタイル*/
.modal-main{
  display: none;
}

.modal-inner{
  width:100%;
  height: 100%;
  background-color:#ffffff;
  color:#666666;
  position:fixed;
  top:0;
  left:0;
  z-index:3;
}

.modal-content{
  text-align: center;
  margin:0;
  padding:0;
}

.modal-title{
  margin-top: 40px;
  margin-bottom: 32px;
  font-size:28px;
  font-weight:bold;
}

.modal-image{
  width:20%;
  margin:0 auto;
  margin-bottom:10px;
}

.modal-text{
  font-size:16px;
  width:70%;
  text-align: center;
  margin:0 auto;
  margin-bottom:20px;
}

.modalClose{
  display: inline-block;
  padding: 20px 40px;
  background-color:#00afcc;
  font-size:18px;
  color:#fff;
  text-decoration: none;
}

.modalClose:hover{
  color:#00afcc;
  background-color:#e4e0e1;
  transition: 0.6s;
}

#music{
  background-color: rgba(169,169,169,0.5); /*darkgray*/
  background: linear-gradient(to bottom,rgba(192,192,192,0.5),rgba(169,169,169,0.5));
  padding-top: 60px;
  padding-bottom: 70px;
}


/*------------------------------------
F_LIVE
------------------------------------*/
#live{
  background: linear-gradient(to bottom,rgba(169,169,169,0.5),rgba(128,128,128,0.5));
  padding-top: 60px;
  padding-bottom: 70px;
}

.live-wrapper{
  max-width: 1024px;
  margin: 0 auto;
  border:1px solid #333;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.live-map{
  width:50%;
  border-radius: 15px;
}

.live-text{
  width: 50%;
  margin:auto 0;
  text-align: center;
}

.artist{
  font-size:20px;
}
.live-name{
  font-size:25px;
}
.site-name{
  font-size: 25px;
}

.address{
  margin-top:24px;
  font-size:16px;
}

.site-tel{
  display:inline-block;
  margin-top:24px;
}

.live-list{
  display: block;
  padding: 10px;
  margin:5px auto;
  text-decoration: none;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color:#ffffff;
}

/*------------------------------------
G_Contact
------------------------------------*/
#contact{
  padding-top:70px;
  padding-bottom:60px;
  background: linear-gradient(to bottom,rgba(128,128,128,0.5),rgba(105,105,105,0.5));
}

.contact-wrapper{
  max-width: 1024px;
  margin: 0 auto;
}

.contact-text{
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  margin-bottom: 18px;
}

form{
  margin: 0 auto;
  max-width: 400px;
}

.form-group{
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  width: 400px;
}

.form-name, .form-mail{
  border: 1px solid #000000;
  width: 400px;
  height: 40px;
}

.send-button{
  margin-top: 20px;
  border: 1px solid #000;
  padding:15px;
}
.send-button:hover{
  color: #fff;
  background-color: #ff0000;
}

/* セレクトタグ */
.form-group-select {
	overflow: hidden;
	width: 400px;
  text-align: center;
  background-color: #ffffff;
   border-radius: 5px;
}
.form-group-select select {
	width: 400px;
  margin:0;

	cursor: pointer;
  border-radius: 5px;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.form-group-select select::-ms-expand {
  display: none;
}

.comment{
  background-color: #ffffff;
  border:1px solid transparent;
  border-radius: 5px;
  padding-left:5px;
}

.mail, .username, .option{
  height:30px;
  background-color: #ffffff;
  border:1px solid transparent;
  border-radius: 5px;
  padding-left:5px;
}
