.header-logo,
.header-name {
  display: none;
}

.footer-logo {
  width: 35px;
  height: 35px;
}

/*googlefont*/
.google-font {
  font-family: 'Allura',
    cursive;
  font-family: 'Anton',
    sans-serif;
  font-family: 'Rock Salt',
    cursive;
  font-family: 'Teko',
    sans-serif;
}

/*コンテンツ別*/
.title {
  font-size: 75px;
  color: #fff;
  text-align: center;
  padding: 0px;
}

#profile-wrapper,
#book-wrapper,
#trip-wrapper,
#music-wrapper,
#content-wrapper {
  max-width: 100vw;
  padding-bottom: 50px;
}

/*背景色*/
#profile-wrapper {
  background-color: #83BAB9;
}

#book-wrapper {
  background-color: #FCF2DD !important;
}

#trip-wrapper {
  background-color: #C9C2B0;
}

#music-wrapper {
  background-color: #DD8874;
}

#content-wrapper {
  background-color: #6E6E6E;
}



/*jQueryで非表示から表示にする*/
.g_nav {
  display: none;
}

.g_nav {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: translateY(-110%);
  transition: all 0.6s;
  background-color: #000;
  opacity: 0.9;
}

.g_nav ul li {
  font-size: 18px;
  list-style-type: none;
  width: 100%;
}

.g_nav ul li:hover {
  background-color: #ff0000;
  opacity: 0.9;
}

.g_nav ul li:last-child {
  border-bottom: none;
}

.g_nav ul li a {
  /*クリック出来る範囲を広げる*/
  display: block;
  color: #fff;
  padding: 20px 0;
  text-decoration: none;
}

.g_nav.active {
  transform: translateY(0%);
}

/*ハンバーガーメニュー*/
.menu-trigger {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 56px;
  height: 42px;
  cursor: pointer;
  z-index: 2;
}

.menu-trigger span {
  display: block;
  /*インラインからブロック*/
  position: absolute;
  width: 56px;
  border-bottom: solid 4px #000;
  border-radius: 4px;
  transition: .35s ease-in-out;
  /*【A-3】変化の速度を指定*/
}

.menu-trigger span:nth-child(1) {
  /*【A-4】:nth-child擬似クラス*/
  top: 0;
}

.menu-trigger span:nth-child(2) {
  top: 13px;
}

.menu-trigger span:nth-child(3) {
  top: 26px;
}

/*✕マーク*/
.menu-trigger.active span:nth-child(1) {
  top: 18px;
  transform: rotate(-45deg);
  border-color: #fff;
  width: 30px;
}

.menu-trigger.active span:nth-child(2),
.menu-trigger.active span:nth-child(3) {
  top: 18px;
  transform: rotate(45deg);
  color: #fff;
  border-color: #fff;
  width: 30px;
}

/*------------------------------------
first view
------------------------------------*/
#firstview {
  width: 100%;
  height: 100vh;
  background-image: url('../../img/main/akita_winter.jpg');
  background-size: cover;
  mix-blend-mode: darken;
}

.fv-left-title {
  height: 100vh;
  font-size: 50px;
  margin-left: 5px;
  display: flex;
  align-items: center;

}

.fv-right {
  display: none;
}

/*------------------------------------
profile
------------------------------------*/
.portrait {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;

}

.prof-list {
  text-align: center;
}

.prof-name {
  text-align: center;
}

.prof-content {
  height: 75px;
  border: 1px solid #fff;
  margin: 5px;
  background-color: #fff;
}

.prof-content a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 5px;
}

.prof-content small {
  display: block;
  margin-left: 5px;
}

.prof-content:hover {
  top: -3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}


/*------------------------------------
book
------------------------------------*/
.book-pagination {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.next,
.prev {
  display: block;
  width: 200px;
  height: 50px;
}

/*吹き出し*/
.arrow_box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #CDCDCD;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

.arrow_box:after {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(205, 205, 205, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  margin-left: -10px;
  border-top-color: #CDCDCD;
  top: 100%;
  left: 50%;
}

.app-link {
  width: 300px;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 25px;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 5px;
}

/*------------------------------------
music
------------------------------------*/
.music-container {
  display: block;
  width: 300px;
  margin: 0 auto;
}

.tab-group {
  display: flex;
  justify-content: center;
}

.tab {
  flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #CCC;
  text-align: center;
  cursor: pointer;
}

.panel-group {
  height: 100%;
  background: transparent;
}

.panel {
  display: none;
}

.tab.is-active {
  background: #F00;
  color: #FFF;
  transition: all 0.2s ease-out;
}

.panel.is-show {
  display: block;
}

/*------------------------------------
contact
------------------------------------*/
.contact-wrapper {
  width: 100%;
  margin: 0 auto;
}

.contact-text {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  margin-bottom: 18px;
}

form {
  margin: 0 auto;
  max-width: 300px;
}

.form-group {
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  width: 300px;
}

.form-name,
.form-mail {
  border: 1px solid #000000;
  width: 300px;
  height: 40px;
}




.send-button {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  border: 1px solid #000;
  padding: 15px;
}

.send-button:hover {
  color: #fff;
  background-color: #ff0000;
}

/* セレクトタグ */
.form-group-select {
  overflow: hidden;
  width: 300px;
  text-align: center;

}

.form-group-select select {
  width: 300px;
  padding-right: 10px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  outline: none;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-group-select select::-ms-expand {
  display: none;
}

.comment {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 5px;
}

.mail,
.username,
.option {
  height: 30px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 5px;
}


/*------------------------------------
H_フッター
------------------------------------*/
footer {
  background-color: rgba(105, 105, 105, 0.5);
  /*gray*/
}

#vampire {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.footer-content {
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-content li {
  list-style: none;
}

.footer-content a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.footer_menu {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 15px;
}

.policy {
  padding: 10px 15px;
  border-bottom: 1px solid #000;
}


.policy ul li {
  width: 100%;
  list-style: none;
}

footer small {
  font-size: 12px;
  margin-top: 80px;
  display: block;
  text-align: center;
  position: relative;
  top: -20px;
}
