/*
common: animation
common: font
common: layout
common: header
common: footer
common: background
00_firstview
01_profile
02_book
03_trip
04_music
05_contact
99_footer
*/


/*---------------------------
common: animation
----------------------------*/
.fade-in {
  opacity: 0;
  transition-duration: 300ms;
  transition-property: opacity, transform;
  overflow-x: hidden;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
}

.fade-in-left {
  transform: translate(-10%, 0);
}

.fade-in-right {
  transform: translate(10%, 0);
}

.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

/*---------------------------
common: layout
----------------------------*/
.google-font {
  font-family: 'Allura',
    cursive;
  font-family: 'Anton',
    sans-serif;
  font-family: 'Rock Salt',
    cursive;
  font-family: 'Teko',
    sans-serif;
}

.sp {
  display: none;
}

.title {
  width: 300px;
  display: block;
  margin: 25px auto;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;

}

.title.profile {
  filter: drop-shadow(10px 10px 0 #83BAB9);
}

.title.trip {
  filter: drop-shadow(10px 10px 0 #FCF2DD);
}

.title.music {
  filter: drop-shadow(10px 10px 0 #C9C2B0);
}

.title.book {
  filter: drop-shadow(10px 10px 0 #DD8874);
}

.title.contact {
  filter: drop-shadow(10px 10px 0 #6E6E6E);
}

.contents {
  max-width: 1024px;
  max-height: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.grid-divide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*---------------------------
common: background
----------------------------*/
#profile-wrapper,
#book-wrapper,
#trip-wrapper,
#music-wrapper,
#content-wrapper {
  max-width: 100vw;
}

#profile-wrapper {
  background-color: rgba(131,
      186,
      185, 0.2);
}

#trip-wrapper {
  background-color: rgba(252,
      242,
      221, 0.2);
}

#music-wrapper {
  /* height: 860px; */
  background-color: rgba(201,
      194,
      176, 0.2);
}

#book-wrapper {
  background-color: rgba(221,
      136,
      116, 0.2);
}

#contact-wrapper {
  background-color: rgba(110,
      110,
      110, 0.2);
}


.grid-divide.book {
  grid-template-columns: 2fr 1fr;
}

.book-app-title {
  width: auto;
  margin: 0 auto;
}

/*---------------------------
common: header
----------------------------*/
.header-logo {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

/*グローバルナビゲーション全体*/
.nav-wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  padding: 0 15px;
}

.g_nav ul {
  display: flex;
  list-style: none;
}

.g_nav ul li {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.g_nav ul li a {
  width: 50px;
  padding: 10px 0px;
  display: block;
  color: #000000;
  text-decoration: none;
}

#fixed-header {
  width: 100%;
  position: fixed;
  top: -50px;
  height: 50px;
  transition: .5s;
  z-index: 99;
}

#fixed-header.is-show {
  top: 0;
}

/*------------------------------------
common: footer
------------------------------------*/
footer {
  padding: 15px;
  background-color: rgba(105, 105, 105, 0.5);
  /*gray*/
  height: 150px;
}

#vampire {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: all 1s ease;
}

#vampire.show {
  opacity: 1.0;
  transform: none;
}

.footer-content {
  /* width: 500px; */
}

.footer-menu ul {
  display: flex;
  justify-content: center;
  gap: 10px 20px;
}

.footer-menu li a {
  text-decoration: none;
  font-size: 17px;
  color: #000;
}

.footer_menu {
  padding-left: 6px;
  padding-right: 6px;
}

.footer_menu ul {

  display: flex;
  justify-content: space-around;
}

.footer_menu ul li {
  list-style: none;
  width: 50px;
}

footer small {
  font-size: 12px;
  display: block;
  text-align: center;
}

.footer-logo {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  text-align: center;
}

.footer-about-site {
  display: flex;
  justify-content: center !important;

}

.footer-about-site a {
  display: block;
  text-decoration: none;
  color: #000000;
}

/*---------------------------
00_firstview
----------------------------*/
#firstview {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0px;
  width: 100%;
  height: 100vh;
  background-image: url('../../img/main/akita_winter.jpg');
  background-size: cover;
  mix-blend-mode: darken;
}

.fv-left {
  display: flex;
  align-items: center;
}

.fv-left-content {
  width: 200px;
  margin-left: 30px;
}

.fv-left-logo {
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.fv-left-title {
  font-size: 50px;
  text-align: center;
}

.fv-left-sub-title {
  font-size: 25px;
  text-align: center;
}

.fv-left-menu li {
  width: 75px;
  margin: 0 auto;
  list-style: none;
}

.fv-left-menu li>a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  padding: 0 5px;
}

.fv-left-menu li>a:hover {
  color: #ffffff;
  background-color: #000000;
}

/*---------------------------
01_Profile
----------------------------*/
.portrait {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.prof-word {
  margin-bottom: 20px;
}

.sentence {
  font-size: 40px;
}

.prof-name {
  font-size: 25px;
  text-align: center;
}

.prof-list {
  text-align: center;
}

.prof-list li {
  list-style: none;
}

.prof-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 75px;
  background-color: #fff;
  margin: 5px;
}

.prof-content-number {
  width: 50px;
  font-size: 25px;
  text-align: center;
}

.prof-content {
  width: 300px;
}

.prof-triangle {
  width: 0px;
  border: 1px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid darkslategray;
  transform: rotate(90deg);
}

.prof-content a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  margin-left: 5px;
}

.prof-content small {
  display: block;
  margin-left: 5px;
}

.prof-index:hover {
  top: -3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

/*---------------------------
02_book
----------------------------*/
.book-box {
  display: none;
}

.book-box.active {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.book-text {
  text-align: center;
}

.book-title {
  font-size: 20px;
}

.book-note {
  /* 2022/04/06 https: //www.design-memo.com/coding/css-note */
  width: 500px;
  padding: 0 1em;
  background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
  background-size: auto 2.0em;
  line-height: 2.0em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}


.book-about {
  font-size: 14px;
  text-align: left;
}

.book-pagination {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.next,
.prev {
  display: block;
  width: 150px;
  background-color: #ffffff;
  margin: 10px;
}

/*吹き出し*/
.arrow_box {
  position: relative;
  width: 300px;
  height: 200px;
  background: #fffbf2;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  border-radius: 15px;
}

.arrow_box:after {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(205, 205, 205, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  margin-left: -10px;
  border-top-color: #fffbf2;
  top: 100%;
  left: 50%;
}

.book-app-img {
  /* https: //www.linustock.com/ */
  width: 300px;
  height: 100%;
}

.app-link {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}

/*---------------------------
03_trip
----------------------------*/
.trip-img {
  /* https: //www.linustock.com/ */
  width: 150px;
  height: 100%;
}

.trip-image-area {
  display: flex;

}

.arrow_box_left {
  position: relative;
  width: 230px;
  height: 100px;
  background: #FCF2DD;
  padding: 10px;
  text-align: left;
  font-size: 15px;
  border-radius: 15px;
}

.arrow_box_left:after {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  pointer-events: none;
  position: absolute;
  border-color: rgba(106, 90, 205, 0);
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  margin-top: -10px;
  border-right-color: #FCF2DD;
  right: 100%;
  top: 30%;
}

.trip-lineup {
  margin: 0px auto;
  margin-bottom: 16px;
}

.trip-lineup ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: 24px;
  margin-right: 24px;
}

.trip-lineup ul li {
  width: 20%;
  height: 32px;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
  list-style: none;
  border-bottom: 1px dashed #000000;
  background-color: #fff;
}

.trip-lineup ul li a {
  display: block;
  text-decoration: none;
  line-height: 30px;
  color: #333;
  width: 100%;
}

.trip-lineup ul li a:hover {
  background-color: #FCF2DD;
  transition: 0.6s;
}

/*ラインナップボックス*/
.modal-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

/*モーダルのスタイル*/
.modal-main {
  display: none;
}

.modal-inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.modal-content {
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal-title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: bold;
}

.modal-image {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.modal-text {
  font-size: 16px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modalClose {
  display: inline-block;
  padding: 20px 40px;
  background-color: #00afcc;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.modalClose:hover {
  color: #00afcc;
  background-color: #e4e0e1;
  transition: 0.6s;
}

.trip-content {
  width: 125px;
  height: 125px;
}

.trip-image {
  width: 100%;
}

.trip-title {
  margin-top: 20px;
}

.trip-date {
  font-size: 20px;
  font-weight: bold;
}

/*---------------------------
04_music
----------------------------*/
/* tab */
.content {
  display: none;
}

.content.show {
  display: block;
}

.tab-group {
  display: flex;
  justify-content: center;
}

.tab {
  width: 350px;
  padding: 5px;
  margin-bottom: 10px;
  list-style: none;
  border: solid 1px #ffffff;
  text-align: center;
  cursor: pointer;
  background-color: #ffffff;
}

.tab.playlist {
  border-radius: 10px 0 0 10px;
}

.tab.live {
  border-radius: 0 10px 10px 0;
}

.panel-group {
  height: 100%;
  background: transparent;
  margin-bottom: 50px;
}

.panel {
  display: none;
}

.tab.is-active {
  background: #C9C2B0;
  transition: all 0.2s ease-out;
}

.panel.is-show {
  display: block;
}

/* tab: playlist */
.music-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.play-list {
  margin-left: 10px;
}

/* tab: live */
.live-wrapper {
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.live-map {
  width: 50%;
  border-radius: 15px;
}

.live-text {
  width: 50%;
  margin: auto 0;
  text-align: center;
}

.artist {
  font-size: 20px;
}

.live-name {
  font-size: 25px;
}

.site-name {
  font-size: 25px;
}

.address {
  margin-top: 10px;
  font-size: 16px;
}

.site-tel {
  display: inline-block;
  margin-top: 24px;
}

.live-list {
  display: block;
  padding: 10px;
  margin: 5px auto;
  text-decoration: none;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: #ffffff;
}

.music-img {
  /* https: //www.linustock.com/ */
  display: block;
  width: 150px;
  height: 100%;
  margin: 0 auto;
}

/*---------------------------------
05_contact
----------------------------------*/
#contact-wrapper {
  margin-top: 0;
}

.contact-text {
  display: inline-block;
  vertical-align: top;
  font-size: 1.6rem;
  margin-bottom: 18px;
}

form {
  margin: 0 auto;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-flow: column;
  margin-top: 32px;
  width: 400px;
}

.form-name,
.form-mail {
  border: 1px solid #000000;
  width: 400px;
  height: 40px;
}

.send-button {
  display: block;
  margin: 0px auto;
  margin-top: 20px;
  border: 1px solid #000;
  padding: 15px;
}

.send-button:hover {
  color: #fff;
  background-color: #ff0000;
}

/* セレクトタグ */
.form-group-select {
  overflow: hidden;
  width: 400px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

.form-group-select select {
  width: 400px;
  margin: 0;

  cursor: pointer;
  border-radius: 5px;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.form-group-select select::-ms-expand {
  display: none;
}

.comment {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 5px;
}

.mail,
.username,
.option {
  height: 30px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding-left: 5px;
}

/*モーダルのスタイル*/
.modal-main {
  display: none;
}

.modal-inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.modal-content {
  text-align: center;
  margin: 0;
  padding: 0;
}

.modal-title {
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: bold;
}

.modal-image {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.modal-text {
  font-size: 16px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modalClose {
  display: inline-block;
  padding: 20px 40px;
  background-color: #00afcc;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.modalClose:hover {
  color: #00afcc;
  background-color: #e4e0e1;
  transition: 0.6s;
}
