
/*------------------------------------
A_ヘッダー
・1_中央配置
・2_ポジション
・3_背景色
・4_枠線（border)
・5_padding(枠線内の余白）
・6_margin(他の要素との余白）
・7_横並びにする（FLEX BOX）
・8_ボタンのクリック範囲設定
・9_テキストリンクの下線を消す
・10_マウスが乗っかった時の処理
・11_色の透過度の設定
・12_変化前→変化後の時間
------------------------------------*/


/*ナビの大枠*/


/*グローバルナビゲーション全体*/

/*グロナビのリスト【親】→横並びにしよう*/
.g_nav ul{
 width: 100%;
 display: flex;                 /*【A-7】flex box*/
 flex-wrap: nowrap;             /*【A-7】要素を折り返さない*/
 list-style: none;
 margin-top: 0px;
 padding-left: 0px;

}
/*グロナビのリスト【子】→間隔を調整しよう*/
.g_nav ul li {
 background-color:#000000;
 width:12.5%;
 text-align: center;
 /*padding:10px 20px;*/
}

.g_nav ul li:nth-child(1){
   background-color: #eb3c55;
}


.g_nav ul li a{
 padding: 10px 0px;
 display:block;               /*【A-8】inlineからblock：クリック範囲を広げるため*/
 text-decoration: none;       /*【A-9】テキストリンクの下線を消す*/
 color:#fff;
 /*padding:10px 20px;*/
}
/*マウスが乗っかった時、文字や背景色が代わるようにしたい*/
.g_nav ul li a:hover{           /*【A-10】hover疑似クラス*/
  display:block;
  color:#333;
  background-color: #eb3c55;
  opacity: 0.5;                 /*【A-11】透過度*/
  transition: 0.6s;             /*【A-12】変化前→変化後の時間*/
}

/*------------------------------------
H_フッター
------------------------------------*/
footer{
  background-color: rgba(105,105,105,0.5); /*gray*/
  height:150px;
}

.vampire{
  width:10%;
}

.footer-content{
  display:flex;
  justify-content: space-around;
  margin: 0 auto;
}

.footer-content a{
  text-decoration: none;
  font-size:17px;
  color: #fff;
}

.footer_menu{
  padding-left: 12px;
  padding-right: 12px;
}

.footer_menu ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  height:50px;
  margin-top: 30px;
}

.footer_menu ul li{
  list-style: none;
  width: 25%;
}

.policy ul{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 180px;
  height: 50px;
  margin-top: 60px;
}

.policy ul li{
  width: 100%;
  list-style: none;
}

footer small{
  font-size:  12px;
  display: block;
  text-align: center;

}
